.header {
    background-color: #6200ea;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.top-line{
    background-color: azure;
    height: 7px;
    width: 100%;
}

.bottom-line{
    background-color: azure;
    height: 7px;
    width: 100%;
}