<footer class="footer">
    <div class="container-footer">
        <div class="row-footer">
            <div class="footer-links">
                <ul>
                    <li><a href='https://github.com/aker2302' target="_blank">Github</a></li>
                </ul>
            </div>
            <div class="host">
                <ul><li> Hosted on Railway</li></ul>
            </div>
        </div>
        <hr>
        <p class="copyright-text">© 2024 Abdellah Kerbal</p>
    </div>
</footer>
